body {
  background-color: #008080;
  color: #282C34;
  font-family: 'Baloo 2', cursive;
  font-size: 18px;
}
.btn {
  background-color: #3BB9FF;
  font-family: 'Baloo 2', cursive;
  text-align: center;
}
.divider {
    display:inline-block;
    height:auto;
}
h1 {
  color: navy;
  margin-left: 20px;
}
.intro {
  color: #FFFFFF;
  font-family: 'Baloo 2', cursive;
  font-size: 18px;
  margin: 8%;
  text-align: center;

}
p{
  font-family: 'Baloo 2', cursive;
}
.topics {
  flex-wrap: wrap;
}
